*{
    margin: 0;
    padding: 0;
}
.btn{
    color: white;
    padding: 5px 15px;
    background-color: #4dbe36;
    border-radius: 10px;
}
hr{
    width: 100px;
    margin: 0;
    border: none;
    border-bottom: 6px dotted #4E9F3D;
    position: absolute;
    bottom: 0;
}
.btn:hover{
color: #4E9F3D;
background-color:rgba(0, 0, 0, 0);
border: 1px solid #4E9F3D;
}
/* each section  */

.section{
    background-image: url(https://mcdn.wallpapersafari.com/medium/82/56/rJVLPb.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* ------------------ */
/* home  start */  


#home{
    color: #4E9F3D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #191A19; */
}
#home h1{
    font-size: 5rem;

}

#home .name p{
    font-size: 2rem;
    font-family: sans-serif;
    margin-bottom: -20px;
    text-shadow: none;
}
#home .hello{
font-size: 4rem;
margin-bottom: 100px;
position: absolute;
animation: anime-hello 3s forwards ease-out;
}

.name{
    position: absolute;
    animation: anime-name 2.5s 3s forwards;
    opacity: 0;
}

@keyframes anime-hello {
    0%{
          opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes anime-name {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}


/* home finish */

/* navbar start  */

.w3-bar-item{
    color:#D8E9A8;
    transition: all .6s;
}
.w3-bar-item:hover{
transform: translateX(20px);
}

/* about page  */

#about{
    color: white;

    justify-content: space-around;
    align-items: center;
}
.about-cont{
    position: relative;
    width: auto;
    max-width: 50%;
    height: auto;
    padding: 50px;
}
.about-content-cont{
    box-shadow: 0 0 30px #4E9F3D;
    background-color: rgba(0, 0, 0, 0.534);
}

.about-pic-content{
    font-family:'Great Vibes', cursive;
    font-size: 5.5rem;
}
.about-content-cont h1{
    color: #4E9F3D;
    font-weight: 700;
}
.about-pic-cont::after{
    content: "";
    position: absolute;
    bottom: 5%;
    right: -5%;
    width: 110%;
    height: 90%;
    box-shadow: 0 0 20px #4E9F3D;
    animation: anime-about-pic-cont-before 8s infinite linear forwards;
}
.about-pic-cont::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #4E9F3D;
    animation: anime-about-pic-cont-before 8s infinite linear forwards;

}
@keyframes anime-about-pic-cont-before {
    0%{
    rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@media screen and (max-width:800px) {
    #about{

        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        background-size: contain;
        height: auto;
    }
    .about-cont{
        width: auto;
        max-width: 90%;
        height: auto;
        padding: 50px;
        margin: 70px 0;
    }
    .about-content-cont{
        padding: 15px;
    }
    .about-pic-content{
        font-size: 3.4rem;

    }
}
/* about page end  */

/* conact page  */
#contact{
justify-content: space-between;
align-items: center;
padding-bottom: 100px;
height: auto;
}
.contact-interior-container{
    /* border: 1px solid white; */
    width: auto;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 10px;
}
.contact-interior-container-1 i{
color: #4E9F3D;
margin: 20px;
font-size: 1.5rem;
}
.contact-interior-container-1{
    margin-top: 100px;
    margin-inline: auto;
}
.contact-interior-container-1 h4{
color: #4E9F3D;
border: 2px solid #4E9F3D;
width: 150px;
padding: 5px;
font-weight: 800;
border-radius: 10px ;
text-align: center;
margin-bottom: 20px;
background-color: black;
}
.contact-interior-container-2 h4{
color: #4E9F3D;
font-size: 3rem;
font-family: 'Clicker Script', cursive;
letter-spacing: 2px;
font-weight: 900;
padding: 0;
width: auto;
height: auto;
margin-left: 25px;
text-align: left;
}
.contact-interior-container-2{
    width: 500px;
    margin-left:50px ;
}
.contact-drop-box{
    /* border: 2px solid white; */
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}
.drop-down{
    height: 400px;
    transition: height 1s;
}
.contact-drop-box form{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}
.contact-drop-box input, textarea{
margin-bottom: 20px;
background-color: #2bff0011;
border: 1px solid #4E9F3D;
border-radius: 5px;
width: 300px;
color: white;
padding: 10px;

}
.contact-drop-box label{
margin-bottom: 5px;
}


.contact-interior-container-1 li{
    list-style: none;
    position: relative;
    background-color: black;
}
.contact-interior-container-1 li::before{
    content: "";
    position: absolute;
    border: 1px solid #4E9F3D;
    background-color: #4E9F3D;
    left: 28px;
    height: 44px;
    bottom: 40px;
}
.contact-interior-container-1 a{
    text-decoration: none;
}


.pop-up-anime{
    animation: pop-up-anime 1s infinite linear;
}

@keyframes pop-up-anime {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media  screen and (max-width:1100px) {
    #contact{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: auto;
        
        }
        .contact-interior-container-2{
            width: auto;
        }
}
@media  screen and (max-width:600px) {
        .contact-interior-container-1{
            flex-direction: column;
        }
        .contact-drop-box form{
            padding: 0;
        }
}

/* ---------- contact page end -------- */




/* -----------------------skills page start  -------------------------*/

#skills{
    flex-direction: column;
    align-items: center;
}
.skills-h-1{
    margin: 50px;
    color: #4E9F3D;
}
.skills-container{
    width: 95vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-type{
    margin: 30px;
    width: 240px;
    color: #D8E9A8;
}
.star{
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.star-container{
    margin-left: 10px;
}
.neg-star{
    color: rgb(86, 104, 89);
}
.pos-star{
color: #4dbe36;
}




/*----------------------- skills page end --------------- */



/* -------------- time line page ---------- */

#timeline{
    align-items: center;
    flex-direction: column;
}
.timeline-h-1{
    color: #4E9F3D;
    margin: 40px;
}
.timeline-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    justify-content: space-around;
}
.timeline-subtitle{
    color:#D8E9A8;
    margin-bottom: 40px;
    font-size: 1.3rem;
    font-family: cursive;

}
.timeline-card{
    box-shadow: 0 0 10px #4E9F3D;
    width: 160px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    margin: 0 25px 20px 25px;
    transition: height 1s;
    overflow: hidden;
}
.timeline-time{
    color: #4E9F3D;
    margin-left: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.timeline-card-para{
    font-size: .8rem;
    margin: 10px 0;
}
.timeline-card-detail-para{
    font-size: .8rem;
    margin-top: 30px;
}
.timeline-card-colapse-work{
    cursor: pointer;
    color: #4dbe36;
    margin-left: 15px;
}
.timeline-card-uncolapse{
  width: 300px;
  height: 300px;
}
@media  screen and (max-width:700px) {
    .timeline-card{
        margin: 0 10px 20px 10px;
        width: 160px;
        height: 100px;
    }
}

