*{
    margin: 0;
    padding: 0;
}

/* each section  */

.section{
    background-image: url(https://mcdn.wallpapersafari.com/medium/82/56/rJVLPb.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* ------------------ */
/* home  start */  


#home{
    color: #4E9F3D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #191A19; */
}
#home h1{
    font-size: 5rem;

}

#home .name p{
    font-size: 2rem;
    font-family: sans-serif;
    margin-bottom: -20px;
    text-shadow: none;
}
#home .hello{
font-size: 4rem;
margin-bottom: 100px;
position: absolute;
animation: anime-hello 3s forwards ease-out;
}

.name{
    position: absolute;
    animation: anime-name 2.5s 3s forwards;
    opacity: 0;
}

@keyframes anime-hello {
    0%{
          opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes anime-name {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}


/* home finish */

/* navbar start  */

.w3-bar-item{
    color:#D8E9A8;
    transition: all .6s;
}
.w3-bar-item:hover{
transform: translateX(20px);
}

/* about page  */

#about{
    color: white;
    /* flex-direction: column; */
    background-image: url(https://mcdn.wallpapersafari.com/medium/94/4/bUMgdH.jpg);
    background-size: contain;
    justify-content: space-around;
    align-items: center;
}
.about-cont{
    position: relative;
    width: auto;
    max-width: 50%;
    height: auto;
    padding: 50px;
 
}
.about-content-cont{
        border: 2px solid white;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.13);
        background-color: rgba(0, 0, 0, 0.534);

}
.about-pic-content{
    font-family:'Great Vibes', cursive;
    font-size: 5.5rem;
}
.about-pic-cont::after{
    content: "";
    position: absolute;
    border: 5px solid white;
    bottom: 5%;
    right: -5%;
    width: 110%;
    height: 90%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.123);
    animation: anime-about-pic-cont-before 6s infinite linear forwards;
}
.about-pic-cont::before{
    content: "";
    position: absolute;
    border: 5px solid white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.151);
    animation: anime-about-pic-cont-before 6s infinite linear forwards;

}
@keyframes anime-about-pic-cont-before {
    0%{
    rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@media screen and (max-width:800px) {
    #about{
        color: white;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        background-size: contain;
        height: auto;
    }
    .about-cont{
        width: auto;
        max-width: 90%;
        height: auto;
        padding: 50px;
        margin: 70px 0;
    }
    .about-pic-content{
        font-size: 3.4rem;
    }
}
